button {
  all: unset;
  height: 48px;
  cursor: pointer;
  background-color: purple;
}

button:hover {
  opacity: 0.9;
}

.buttons {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}